.login-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #667eea, #764ba2);
  }
  
  .login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 350px;
    text-align: center;
  }

  .input-group {
    margin-bottom: 1rem; /* Add margin between input groups */
  }
  
  .input-group input,
  .input-group select {
    width: 100%; /* Make inputs and select fill the entire width of their container */
    padding: 0.5rem; /* Add padding to inputs and select */
    border: 1px solid #ccc; /* Add border to inputs and select */
    border-radius: 5px; /* Add border-radius to inputs and select */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }

  h1 {
    color: #333;
    margin-bottom: 2rem;
  }
  
.login-button{
  width: 100%; 
  padding: 0.5rem; /* Add padding to inputs and select */
  border: 1px solid #ccc; /* Add border to inputs and select */
  border-radius: 5px; /* Add border-radius to inputs and select */
  box-sizing: border-box;
}
  
  .login-button:hover {
    background-color: #341f97;
  }
  
  .helper-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .helper-links a {
    color: #5f27cd;
    text-decoration: none;
  }
  
  .helper-links a:hover {
    text-decoration: underline;
  }
  
  .form-footer {
    margin-top: 1rem;
  }
  
  @media (max-width: 768px) {
    .login-container {
      padding: 1rem;
      width: 90%;
    }
  
    h1 {
      margin-bottom: 1rem;
      font-size: 1.5rem;
    }
  
    input, select, .login-button {
      padding: 0.5rem;
    }
  
    .helper-links a {
      font-size: 0.8rem;
    }
  }
  
  @media (max-width: 480px) {
    .login-container {
      width: 95%;
    }
  
    .helper-links {
      flex-direction: column;
      align-items: center;
    }
  
    .helper-links a {
      margin-bottom: 0.5rem;
    }
  }