.recent-tests-container {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Two equal columns */
  gap: 20px;
  padding: 20px;
}

.header {
  grid-column: 1 / -1; /* Header will span across all columns */
  background-color: #4B79A1; /* Dark blue background */
  color: white;
  padding: 10px 20px;
  border-radius: 8px;
  font-size: 24px;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  width: 80%;
}

.username{
  flex: 90%;
}
.logout-btn{
  flex: 5%;
}
  
.recent-test{
  margin-top: 40px;
}
  .recent-test.ul {
    list-style: none;
    padding: 0;
    text-decoration: none;
  }
  .tests-list{
    display: flex;
    flex-direction: row;
    align-items: center;
    cursor: pointer;
    margin-top: 5px;
    background-color: #77afdf;
    border-radius: 5%;
  }
  .ids{
    width: 30px;
    text-decoration: none;
    background: transparent;
    cursor: pointer;
  }
  .tests-list input{
    text-decoration: none;
    cursor: pointer;
    border: none;
    background: transparent;
  }

  
  
 