.header {
  background-color: #4B79A1; /* Dark blue background */
  color: white;
  border-radius: 8px;
  font-size: 24px;
  display: flex;
  text-align: center;
  margin-bottom: 20px;
  position: fixed;
  width: 100%;
  padding: 10px 20px;
}
.testbody{
  display: flex;
  margin-top: 40px;
}
.username{
  flex: 90%;

}
.logout-btn{
  flex: 5%;
  margin-right: 50px;
}
.recent-test{
  flex: 50%;
  width: 50%;
}
  .recent-test h2{
    margin-left: 20px;
  }
  .recent-tests-container{
    display: flex;
    flex-direction: column;
  }
  .recent-tests-list{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
  }
  .ids{
    width: 20px;
  }
  .recent-tests-list input{
    border: none;
    margin-top: 5px;
    background: transparent;
    text-decoration: none;
  }
  .recent-tests-list button{
    padding: 5px;
    margin-right: 5px;
    border: none;
    text-decoration: none;
  }


  .attempted-test{
    flex:50%;
    width: 50%;
  }

  .attempted-tests-container{
    display: flex;
    flex-direction: column;
    
  }
  .attempted-tests-list{
    display: flex;
    background-color: antiquewhite;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin: 5px;
  }

  .attempted-tests-list input{
    border: none;
    margin-top: 5px;
    background: transparent;
  }
  .attempted-tests-list button{
    padding: 5px;
    margin-right: 5px;
  }