.quiz-container{
    padding: auto;
    
}
.quiz-header {
    padding: 20px;
    font-size: 24px;
    font-weight: bold;
    margin: 20px;
    background-color: #77afdf;
    border-radius: 10px;
  }

  .quiz-header h1{
    margin-left: 20px;
  }
  .question-container{
    padding: 10px;
    font-size: 24px;
    font-weight: bold;
    font-size: medium;
    margin: 20px;
    background-color: #faebd7;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
  }
  .question{
    border-radius: 10px;
    display: flex;
    margin-right: 10px;
    justify-content: space-between;
  }
  .question p{
    font-size: large;
  }
  .question label{
    font-size: small;
  }
  
  .options {
    margin: 10px;
    background-color: #77afdf;
    border-radius: 10px;
  }
  
  .options label {
    margin-right: 10px;
  }
  
  .options input[type="radio"] {
    margin-right: 5px;
    width: 10px;
    height: 10px;
  }
  .submit-btn{
    margin-left: 20px;
  }

  .modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  }
  
  .modal-content {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    max-width: 300px;
    width: 100%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .button-container button {
    padding: 10px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .button-container button:hover {
    background-color: #ddd;
  }