.modal-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    background: white;
    padding: 20px;
    border-radius: 5px;
    
  }
  
  .modal input {
    margin-bottom: 10px;
    border-color: #FFC107;
    
  }

  .addSubjectForm{
    margin-right: 30px;
  }
  
  .modal-actions {
    display: flex;
    justify-content: flex-end;
  }
  
  .modal-actions button {
    margin-left: 10px;
  }

  .addSubject-btn {
    padding: 0.5rem 1rem;
    margin-right: 1rem;
    background-color: #FFC107;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  