.test-homework-container {
    display: flex;
    justify-content: space-between;
    padding: 10px;
  }
  
  .test-score, .homework {
    flex-basis: 48%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    background-color: #BDDEF2;
    margin: 10px;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
  }
  
  .test-score h1, .homework h1 {
    background-color: #87CEEB;
    color: white;
    padding: 10px;
    margin-top: 0;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
  }
  
  .score-card {
    background-color: #F2845C;
    color: #333;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    border-radius: 8px;
  }
  
  .score-card h2 {
    margin: 0;
    padding-bottom: 10px;
  }
  .homework-questions {
    max-height: 400px; 
    overflow-y: auto; 
    border-radius: 10px;
    background-color: #333;
    color: white;
    padding: 10px;
  }
  .homework-questions p {
    padding: 10px 0;
    border-bottom: 1px solid #121212;

  }
  