.subject-detail-container {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two equal columns */
    gap: 20px;
    padding: 20px;
  }
  
  .subject-header {
    grid-column: 1 / -1; /* Header will span across all columns */
    background-color: #4B79A1; /* Dark blue background */
    color: white;
    padding: 10px 20px;
    border-radius: 8px;
    font-size: 24px;
    display: flex;
    text-align: center;
    margin-bottom: 20px;
  }

  .username{
    flex: 90%;
  }
  .logout-btn{
    flex: 5%;
  }
  
  .subject-section {
    background: white;
    padding: 20px;
    border-radius: 8px;
    border: 1px solid #ccc;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .subject-section h2 {
    border-bottom: 2px solid #E7E7E7;
    padding-bottom: 10px;
    margin-bottom: 20px;
    color: #333;
    font-size: 20px;
  }
  
  .subject-section button {
    background-color: #FF7F50; /* Coral color */
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin-top: 10px;
  }
  
  .subject-section button:hover {
    background-color: #FF6347; /* Darker shade for hover effect */
  }
  
  .test-date, .member-item {
    padding: 10px 0;
    border-bottom: 1px solid #E7E7E7;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .member-item button {
    background-color: #FF6347; /* Tomato color */
  }
  
  /* Add responsiveness */
  @media (max-width: 768px) {
    .subject-detail-container {
      grid-template-columns: 1fr; /* Stack columns on smaller screens */
    }
  }
  