.register-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #667eea, #764ba2);
}

.register-container {
  background: white;
  padding: 2rem;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  width: 300px;
  text-align: center;
}
  
  .register-container h2 {
    text-align: center;
    margin-bottom: 20px;
  }

  .input-group {
    margin-bottom: 1rem; /* Add margin between input groups */
  }
  
  .input-group input,
  .input-group select {
    width: 100%; /* Make inputs and select fill the entire width of their container */
    padding: 0.5rem; /* Add padding to inputs and select */
    border: 1px solid #ccc; /* Add border to inputs and select */
    border-radius: 5px; /* Add border-radius to inputs and select */
    box-sizing: border-box; /* Ensure padding and border are included in the width */
  }
  .register-button {
    width: 100%; 
    padding: 0.5rem; 
    border: 1px solid #ccc;
    border-radius: 5px; 
    box-sizing: border-box;
  }
  
  .register-form button:hover {
    background-color: #341f97;
  }

  .helper-links {
    display: flex;
    justify-content: space-between;
    margin-top: 1rem;
  }
  
  .helper-links a {
    color: #5f27cd;
    text-decoration: none;
  }
  
  .helper-links a:hover {
    text-decoration: underline;
  }
  
  @media (max-width: 768px) {
    .register-container {
      padding: 20px;
      width: 90%;
    }

  }
  
  @media (max-width: 480px) {
    .register-container {
      width: 90%;
    }
  
    .register-container h2 {
      font-size: 1.2rem;
    }
  
    .register-container input, .register-container button {
      padding: 6px;
    }
  
    
  }