.modal-backdrop {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
  }
  
  .modal {
    margin-top: 30px;
    background: white;
    border-radius: 15px;
    padding: 20px;
    padding-top: 5px;
    min-width: 300px;
    z-index: 1001;
  }
  
  .close-button {
    float: right;
    border: none;
    background: none;
    font-size: 20px;
    color: black;
    cursor: pointer;
  }
  
  .form-group {
    margin-bottom: 10px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  .edit-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ffcc00; /* Yellow for edit */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .edit-button:hover {
    background-color: #cca300;
  }
  
  .save-button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #4ECDC4; /* Teal for save */
    color: white;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #341f97;
  }