.dropdown-container {
    position: relative;
    display: inline-block;
  }
  
  .menu-button {
    background: transparent;
    border: none;
    font-size: 24px; 
    cursor: pointer;
  }
  .manage-profile-btn{
    background: transparent;
    border: none;
    font-size: 16px; 
    cursor: pointer;
    margin-left: 5px;
  }
  .dropdown-content {
    display: block;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 5;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  
  .manage-profile-text {
    color: black; 
    cursor: pointer;
    padding: 10px 15px; 
    display: block; 
  }
  .manage-profile-text:hover {
    background-color: #f1f1f1;
  }